### Transaccions webscrapping. Defypunk

In [36]:
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities as selenium_DesiredCapabilities
import pandas as pd 
import numpy as np

In [37]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait as wait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [38]:
with webdriver.Chrome(executable_path = "/Users/Marta/chromedriver") as driver: 
    
    # Open URL:
    # Ahora sólo tenemos que añadir un for loop que vaya de 0 a 10.000 e insertarlo en la URL
    url = "https://defypunk.com/punks/0"
    driver.get(url)
    
    # Wait until HTML has charged:
    element = wait(driver, 10).until(lambda x: x.find_element(By.TAG_NAME, "table"))
    assert driver.find_element_by_class_name('table-auto')
    
    # Extract information:
    info =[]

    for elemental in element.find_elements_by_tag_name("td"):    
        info.append(elemental.text)
    
    print(info)

['Bid withdrawn', '0x983ace', '', '250.0Ξ', 'May 10, 2021 0x0987ef', 'Bid', '0x983ace', '', '250.0Ξ', 'Apr 11, 2021 0xdbf1a0', 'Bid withdrawn', '0xd7510a', '', '100.0Ξ', 'Mar 3, 2021 0x580c05', 'Bid', '0xd7510a', '', '100.0Ξ', 'Feb 21, 2021 0x5377c3', 'Bid withdrawn', '0x63a9db', '', '69.0Ξ', 'Sep 16, 2020 0xbce1fe', 'Bid', '0x63a9db', '', '69.0Ξ', 'Sep 15, 2020 0x140f1a', 'Bid withdrawn', '0x63a9db', '', '49.0Ξ', 'Jan 11, 2020 0x9f42a4', 'Bid', '0x63a9db', '', '49.0Ξ', 'Jan 9, 2020 0x2cfa7c', 'Bid withdrawn', '0x63a9db', '', '44.0Ξ', 'Jan 8, 2020 0x7fbe84', 'Bid', '0x63a9db', '', '44.0Ξ', 'Dec 30, 2019 0xb51da6', 'Bid withdrawn', '0x63a9db', '', '0.01Ξ', 'Dec 30, 2019 0xdf8d87', 'Bid', '0x63a9db', '', '0.01Ξ', 'Dec 30, 2019 0xc9a439', 'Bid withdrawn', '0x7D438b', '', '18.5Ξ', 'May 23, 2019 0x7c9e27', 'Bid', '0x7D438b', '', '18.5Ξ', 'May 22, 2019 0xb0cc71', 'Bid withdrawn', '0xf7EE6C', '', '40.0Ξ', 'Apr 2, 2019 0x2a98ef', 'Bid', '0xf7EE6C', '', '40.0Ξ', 'Apr 2, 2019 0x08318f', 'Sold', '0xF5099e', '0xe08c32', '25.0Ξ', 'Nov 30, 2018 0x5687d0', 'Bid', '0xE08c32', '', '25.0Ξ', 'Nov 30, 2018 0x6db0f7', 'Offered', '', '', '100.0Ξ', 'Sep 12, 2018 0x5532db', 'Offered', '', '', '200.0Ξ', 'Dec 16, 2017 0xdc89aa', 'Bid', '0x7760E0', '', '13.000000000000000001Ξ', 'Jul 8, 2017 0x63896e', 'Bid', '0x00d7C9', '', '13.0Ξ', 'Jul 7, 2017 0x5e61c5', 'Offered', '', '', '400.0Ξ', 'Jul 7, 2017 0xd1b7cc', 'Transfer', '0xa0a59c', '0xf5099e', '', 'Jul 7, 2017 0x298fdc', 'Sold', '0x00d7C9', '0xa0a59c', '1.6Ξ', 'Jul 7, 2017 0x54c8c5', 'Bid', '0xa0a59c', '', '1.6Ξ', 'Jul 7, 2017 0xecec02', 'Bid', '0x7760E0', '', '1.525000000000000001Ξ', 'Jul 3, 2017 0x1bbd31', 'Bid', '0xa0a59c', '', '1.525Ξ', 'Jul 3, 2017 0x4478c6', 'Bid', '0x7760E0', '', '1.300000000000000001Ξ', 'Jul 3, 2017 0x22061f', 'Bid', '0xa0a59c', '', '1.3Ξ', 'Jul 2, 2017 0x636b29', 'Bid', '0x717403', '', '0.050000000000000007Ξ', 'Jun 25, 2017 0xdfbce0', 'Sold', '0xC352B5', '0x00d7c9', '0.98Ξ', 'Jun 24, 2017 0x24893e', 'Bid', '0x00d7C9', '', '0.98Ξ', 'Jun 24, 2017 0xc29572', 'Bid', '0x948a10', '', '0.67Ξ', 'Jun 24, 2017 0xbe1685', 'Claimed', '', '0xc352b5', '', 'Jun 23, 2017 0xdcc2d3']

In [66]:
len(info)

35

In [67]:
info=np.array([info]).reshape(35, 5)
info

array([['Bid withdrawn', '0x983ace', '', '250.0Ξ',
        'May 10, 2021 0x0987ef'],
       ['Bid', '0x983ace', '', '250.0Ξ', 'Apr 11, 2021 0xdbf1a0'],
       ['Bid withdrawn', '0xd7510a', '', '100.0Ξ',
        'Mar 3, 2021 0x580c05'],
       ['Bid', '0xd7510a', '', '100.0Ξ', 'Feb 21, 2021 0x5377c3'],
       ['Bid withdrawn', '0x63a9db', '', '69.0Ξ',
        'Sep 16, 2020 0xbce1fe'],
       ['Bid', '0x63a9db', '', '69.0Ξ', 'Sep 15, 2020 0x140f1a'],
       ['Bid withdrawn', '0x63a9db', '', '49.0Ξ',
        'Jan 11, 2020 0x9f42a4'],
       ['Bid', '0x63a9db', '', '49.0Ξ', 'Jan 9, 2020 0x2cfa7c'],
       ['Bid withdrawn', '0x63a9db', '', '44.0Ξ', 'Jan 8, 2020 0x7fbe84'],
       ['Bid', '0x63a9db', '', '44.0Ξ', 'Dec 30, 2019 0xb51da6'],
       ['Bid withdrawn', '0x63a9db', '', '0.01Ξ',
        'Dec 30, 2019 0xdf8d87'],
       ['Bid', '0x63a9db', '', '0.01Ξ', 'Dec 30, 2019 0xc9a439'],
       ['Bid withdrawn', '0x7D438b', '', '18.5Ξ',
        'May 23, 2019 0x7c9e27'],
       ['Bid', '0x7D438b', '', '18.5Ξ', 'May 22, 2019 0xb0cc71'],
       ['Bid withdrawn', '0xf7EE6C', '', '40.0Ξ', 'Apr 2, 2019 0x2a98ef'],
       ['Bid', '0xf7EE6C', '', '40.0Ξ', 'Apr 2, 2019 0x08318f'],
       ['Sold', '0xF5099e', '0xe08c32', '25.0Ξ', 'Nov 30, 2018 0x5687d0'],
       ['Bid', '0xE08c32', '', '25.0Ξ', 'Nov 30, 2018 0x6db0f7'],
       ['Offered', '', '', '100.0Ξ', 'Sep 12, 2018 0x5532db'],
       ['Offered', '', '', '200.0Ξ', 'Dec 16, 2017 0xdc89aa'],
       ['Bid', '0x7760E0', '', '13.000000000000000001Ξ',
        'Jul 8, 2017 0x63896e'],
       ['Bid', '0x00d7C9', '', '13.0Ξ', 'Jul 7, 2017 0x5e61c5'],
       ['Offered', '', '', '400.0Ξ', 'Jul 7, 2017 0xd1b7cc'],
       ['Transfer', '0xa0a59c', '0xf5099e', '', 'Jul 7, 2017 0x298fdc'],
       ['Sold', '0x00d7C9', '0xa0a59c', '1.6Ξ', 'Jul 7, 2017 0x54c8c5'],
       ['Bid', '0xa0a59c', '', '1.6Ξ', 'Jul 7, 2017 0xecec02'],
       ['Bid', '0x7760E0', '', '1.525000000000000001Ξ',
        'Jul 3, 2017 0x1bbd31'],
       ['Bid', '0xa0a59c', '', '1.525Ξ', 'Jul 3, 2017 0x4478c6'],
       ['Bid', '0x7760E0', '', '1.300000000000000001Ξ',
        'Jul 3, 2017 0x22061f'],
       ['Bid', '0xa0a59c', '', '1.3Ξ', 'Jul 2, 2017 0x636b29'],
       ['Bid', '0x717403', '', '0.050000000000000007Ξ',
        'Jun 25, 2017 0xdfbce0'],
       ['Sold', '0xC352B5', '0x00d7c9', '0.98Ξ', 'Jun 24, 2017 0x24893e'],
       ['Bid', '0x00d7C9', '', '0.98Ξ', 'Jun 24, 2017 0xc29572'],
       ['Bid', '0x948a10', '', '0.67Ξ', 'Jun 24, 2017 0xbe1685'],
       ['Claimed', '', '0xc352b5', '', 'Jun 23, 2017 0xdcc2d3']],
      dtype='<U22')

In [87]:
transacciones=pd.DataFrame(info, columns=['TYPE', 'FROM', 'TO', 'AMOUNT ETH', 'DATA TRANSACTION'])

In [88]:
transacciones.head()

            TYPE      FROM TO AMOUNT ETH       DATA TRANSACTION
0  Bid withdrawn  0x983ace        250.0Ξ  May 10, 2021 0x0987ef
1            Bid  0x983ace        250.0Ξ  Apr 11, 2021 0xdbf1a0
2  Bid withdrawn  0xd7510a        100.0Ξ   Mar 3, 2021 0x580c05
3            Bid  0xd7510a        100.0Ξ  Feb 21, 2021 0x5377c3
4  Bid withdrawn  0x63a9db         69.0Ξ  Sep 16, 2020 0xbce1fe

In [89]:
transacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TYPE              35 non-null     object
 1   FROM              35 non-null     object
 2   TO                35 non-null     object
 3   AMOUNT ETH        35 non-null     object
 4   DATA TRANSACTION  35 non-null     object
dtypes: object(5)
memory usage: 1.5+ KB

In [90]:
#Eliminamos el simbolo del ETHERIUM inicial.

transacciones['AMOUNT ETH'] = transacciones['AMOUNT ETH'].str[:-1]
L = list(transacciones['AMOUNT ETH'])
L.pop(0) 
transacciones['AMOUNT ETH'].head()

0    250.0
1    250.0
2    100.0
3    100.0
4     69.0
Name: AMOUNT ETH, dtype: object

In [91]:
#convertimos la columna a float

transacciones['AMOUNT ETH']=pd.to_numeric(transacciones['AMOUNT ETH'], errors='coerce')

In [92]:
#añadimos la columna AMOUNT $ con el cambio de ETH a dolar

transacciones['AMOUNT $']=transacciones['AMOUNT ETH'].apply(lambda x: x*3308.61) #(¿¿és posible fer-ho en real time??)
transacciones['AMOUNT $'].head()

0    827152.50
1    827152.50
2    330861.00
3    330861.00
4    228294.09
Name: AMOUNT $, dtype: float64

In [94]:
# Genero la columna idTRANSACTION a partir del index

transacciones['idTRANSACTION']=transacciones.index

In [95]:
#reordeno les columnes #¡¡¡¡¡¡¡¡MANQUEN COLUMNES IdCRYPTOPUNK i idOWNER!!!!!!

transacciones=transacciones[['idTRANSACTION', 'TYPE', 'FROM', 'TO', 'AMOUNT ETH','AMOUNT $', 'DATA TRANSACTION']]
transacciones.head(3)

,idTRANSACTION,TYPE,FROM,TO,AMOUNT ETH,AMOUNT $,DATA TRANSACTION
0,0,Bid withdrawn,0x983ace,,250.0,827152.5,"May 10, 2021 0x0987ef"
1,1,Bid,0x983ace,,250.0,827152.5,"Apr 11, 2021 0xdbf1a0"
2,2,Bid withdrawn,0xd7510a,,100.0,330861.0,"Mar 3, 2021 0x580c05"