In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

import sklearn as skl

import statsmodels.api as sm
from statsmodels.formula.api import ols

import scipy.stats as stats

In [2]:
df = pd.read_csv("dfanova_new.csv")

new_df = df[["Cluster", "rentabilidad_usd"]]

In [3]:
######################################## ANOVA Analysis ##############################################

# Pivot so that classes are the columns:

new_df = new_df.pivot(columns="Cluster", values="rentabilidad_usd")

new_df.head()

Cluster      0   1      2       3        4   5         6
0          NaN NaN    NaN  2436.0      NaN NaN       NaN
1          NaN NaN    NaN     NaN  31150.0 NaN       NaN
2       -117.0 NaN    NaN     NaN      NaN NaN       NaN
3          NaN NaN  105.0     NaN      NaN NaN       NaN
4          NaN NaN    NaN     NaN      NaN NaN  389873.0

In [4]:
series = []

for i in range(7):
    series.append(new_df[i])

In [5]:
# Drop NaNs

series[0] = [x for x in series[0] if pd.isnull(x) == False]
series[1] = [x for x in series[1] if pd.isnull(x) == False]
series[2] = [x for x in series[2] if pd.isnull(x) == False]
series[3] = [x for x in series[3] if pd.isnull(x) == False]
series[4] = [x for x in series[4] if pd.isnull(x) == False]
series[5] = [x for x in series[5] if pd.isnull(x) == False]
series[6] = [x for x in series[6] if pd.isnull(x) == False]

In [6]:
# Check for length:

for i in range(7):
    print(len(series[i]))

628
383
1242
674
1106
1221
909

In [7]:
good_df = pd.DataFrame(series)

good_df.head(7)

,0,1,2,3,4,5,6,7,8,9,...,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241
0,-117.0,2760.0,227.0,42728.0,249101.0,53463.0,47886.0,137913.0,28726.0,173.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,61662.0,344382.0,-56.0,39862.0,62862.0,71472.0,154.0,84435.0,65101.0,342393.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,105.0,58285.0,105955.0,425035.0,138310.0,53782.0,232530.0,10393.0,304.0,56120.0,...,90065.0,308735.0,11151.0,488088.0,66.0,14972.0,109.0,38936.0,7236.0,5920.0
3,2436.0,63065.0,42556.0,21834.0,16670.0,-1094.0,26271.0,155819.0,105043.0,42306.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31150.0,15341.0,28368.0,42233.0,50357.0,7375.0,368619.0,9556.0,47846.0,-29970.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7340.0,129827.0,26685.0,31455.0,151271.0,-16022.0,542629.0,90.0,466768.0,99459.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,389873.0,33029.0,29367.0,26201.0,719.0,229.0,11417.0,61118.0,1168.0,14816.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
good_df.shape

(7, 1242)

In [9]:
good_df = good_df.transpose()

In [10]:
good_df.shape

(1242, 7)

In [11]:
# Fill null values

for i in range(7):
    mean_value=good_df[i].mean()
    good_df[i].fillna(value=good_df[i].mean(), inplace=True)

In [12]:
print(good_df)

                  0              1         2             3             4  \
0       -117.000000   61662.000000     105.0   2436.000000  31150.000000
1       2760.000000  344382.000000   58285.0  63065.000000  15341.000000
2        227.000000     -56.000000  105955.0  42556.000000  28368.000000
3      42728.000000   39862.000000  425035.0  21834.000000  42233.000000
4     249101.000000   62862.000000  138310.0  16670.000000  50357.000000
...             ...            ...       ...           ...           ...
1237   63091.867834   69257.013055   14972.0  62756.879822  62820.547007
1238   63091.867834   69257.013055     109.0  62756.879822  62820.547007
1239   63091.867834   69257.013055   38936.0  62756.879822  62820.547007
1240   63091.867834   69257.013055    7236.0  62756.879822  62820.547007
1241   63091.867834   69257.013055    5920.0  62756.879822  62820.547007

                  5             6
0       7340.000000  389873.00000
1     129827.000000   33029.00000
2      26685.000000   29367.00000
3      31455.000000   26201.00000
4     151271.000000     719.00000
...             ...           ...
1237   59117.564275   71857.32121
1238   59117.564275   71857.32121
1239   59117.564275   71857.32121
1240   59117.564275   71857.32121
1241   59117.564275   71857.32121

[1242 rows x 7 columns]

In [13]:
# ANOVA analysis

fvalue, pvalue = stats.f_oneway(good_df[0], good_df[1], good_df[2], good_df[3], good_df[4], good_df[5], good_df[6])
print(fvalue, pvalue)

2.4380344747663147 0.023433893112453804

In [14]:
# Figure 23: SALE VALUE

# Replacing with average
# 2.9533474945171285 p = 0.007010181844102753

# Replacing with median
# 17.608762400176733 p = 2.223983671508818e-20


# Figure 24: PROFITABILITY

# Replacing with average
# 2.4380344747663147 0.023433893112453804

# Replacing with median
# 17.66123493384489 1.9146669966000232e-20

In [15]:
# Figure 25: Tukey test results for profitability

from statsmodels.stats.multicomp import pairwise_tukeyhsd

tukey = pairwise_tukeyhsd(endog=df['rentabilidad_usd'],
                          groups=df['Cluster'],
                          alpha=0.05)

print(tukey)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================
group1 group2   meandiff  p-adj     lower      upper    reject
--------------------------------------------------------------
     0      1   6165.1452    0.9 -16149.1271 28479.4175  False
     0      2   2628.7103    0.9 -14223.8754 19481.2959  False
     0      3    -334.988    0.9 -19423.9398 18753.9638  False
     0      4   -271.3208    0.9 -17468.3537  16925.712  False
     0      5  -3974.3036    0.9 -20875.4888 12926.8816  False
     0      6   8765.4534 0.7483  -9093.7272  26624.634  False
     1      2   -3536.435    0.9 -23652.9551 16580.0852  False
     1      3  -6500.1332    0.9  -28524.048 15523.7815  False
     1      4   -6436.466    0.9 -26842.4132 13969.4811  False
     1      5 -10139.4488 0.7271 -30296.7006 10017.8031  False
     1      6   2600.3082    0.9 -18366.6915 23567.3078  False
     2      3  -2963.6983    0.9 -19429.8975 13502.5009  False
     2      4  -2900.0311    0.9 -17129.7737 11329.7115  False
     2      5  -6603.0138 0.7739 -20473.7635  7267.7359  False
     2      6   6136.7431  0.891  -8886.5045 21159.9907  False
     3      4     63.6672    0.9 -16754.8944 16882.2287  False
     3      5  -3639.3155    0.9 -20155.2513 12876.6203  False
     3      6   9100.4414 0.6974  -8394.5981 26595.4809  False
     4      5  -3702.9827    0.9 -17990.2495 10584.2841  False
     4      6   9036.7742 0.5825  -6371.8683 24445.4167  False
     5      6  12739.7569 0.1623  -2337.9878 27817.5017  False
--------------------------------------------------------------

In [16]:
# Figure 26: Tukey test for sale price

tukey = pairwise_tukeyhsd(endog=df['venta_usd'],
                          groups=df['Cluster'],
                          alpha=0.05)

print(tukey)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================
group1 group2   meandiff  p-adj     lower      upper    reject
--------------------------------------------------------------
     0      1   2747.8362    0.9 -26023.8346  31519.507  False
     0      2  -1643.5268    0.9 -23372.9849 20085.9314  False
     0      3  -7662.4617    0.9 -32275.4551 16950.5318  False
     0      4   4252.9501    0.9 -17920.6328 26426.5331  False
     0      5 -10801.9316 0.7399 -32594.0534 10990.1901  False
     0      6   5739.3504    0.9 -17287.9954 28766.6963  False
     1      2  -4391.3629    0.9 -30329.2868  21546.561  False
     1      3 -10410.2979    0.9 -38807.5863 17986.9906  False
     1      4   1505.1139    0.9 -24805.9926 27816.2204  False
     1      5 -13549.7678 0.6954 -39540.2105 12440.6749  False
     1      6   2991.5143    0.9 -24043.0044  30026.033  False
     2      3  -6018.9349    0.9 -27250.1925 15212.3227  False
     2      4   5896.4769    0.9 -12451.1288 24244.0826  False
     2      5  -9158.4049 0.7114 -27043.1309  8726.3211  False
     2      6   7382.8772    0.9 -11987.8614 26753.6158  False
     3      4  11915.4118 0.6466  -9770.1762 33600.9998  False
     3      5    -3139.47    0.9 -24434.8572 18155.9172  False
     3      6  13401.8121 0.5692  -9156.0159 35959.6401  False
     4      5 -15054.8818 0.1941 -33476.6583  3366.8948  False
     4      6   1486.4003    0.9 -18381.2604  21354.061  False
     5      6  16541.2821 0.1559  -2899.7243 35982.2884  False
--------------------------------------------------------------